{% extends "courses/_base_content_nav.html" %}

{% load i18n %}
{% load dashboard_extras %}

{% block home_content_url %}
    {% url "courses:performance:graded_content" course_id=course_id %}
{% endblock %}

{% block select_first_level %}
    {% trans "Select Assignment Type" %}
{% endblock %}

{% block select_first_level_all %}
  {# Translators: This refers to all course assignment types (e.g. homework, exam, lab). #}
  {% trans "All Assignments" %}
{% endblock %}

{% block first_level_url %}
    {% url "courses:performance:graded_content_by_type" course_id=course_id assignment_type=level.name|unicode_slugify %}
{% endblock %}

{% block select_second_level %}
    {% blocktrans with level=selected_first_level.name %}
        Select {{ level }}
    {% endblocktrans %}
{% endblock %}

{% block second_level_url %}
    {% url "courses:performance:assignment" course_id=course_id assignment_id=level.id %}
{% endblock %}

{% block problem_part_level_url %}
    {% url "courses:performance:answer_distribution" course_id=course_id assignment_id=selected_second_level.id problem_id=level.id problem_part_id=level.part_ids.0 %}
{% endblock %}
