{% load i18n %}
{% load dashboard_extras %}

<li role="presentation" {% if not enabled %}class="disabled"{% endif %}>
  <a role="menuitem"
      {% if enabled %}
        href="{% url "courses:performance:answer_distribution" course_id=course_id assignment_id=assignment_id problem_id=problem_id problem_part_id=part_id %}"
      {% endif %}
      >
    {% captureas empty %}
      {# Translators: This indicates that no text was provided. #}
      {% trans "(empty)" %}
    {% endcaptureas %}
    {{ name|default_if_none:empty }}
  </a>
</li>
