{% load i18n %}

<div class="col col-12 sm-col-12 module-description">
    <div class="grid-container grid-manual">
        <div class="row">
            <div class="col col-12 md-col-10 sm-col-12">
                <p>{{ description }}</p>
            </div>
            <div class="col col-12 md-col-2 sm-col-12">
                {% if view_live_url %}
                    <a href="{{ view_live_url }}" class="btn btn-default pull-right"
                       role="button" target="_blank">
                        {# Translators: This text will be a direct link to the a specific module/problem. #}
                        {% trans "View Live" %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
