{% extends "courses/_base_content_nav.html" %}

{% load i18n %}
{% load dashboard_extras %}

{% block home_content_url %}
    {% url "courses:performance:learning_outcomes" course_id=course_id %}
{% endblock %}

{% block scope_name %}course{% endblock %}
{% block lens_name %}performance{% endblock %}
{% block report_name %}outcomes{% endblock %}

{% block select_first_level %}
    {% trans "Select Outcome" %}
{% endblock %}

{% block select_first_level_all %}
  {% trans "All Outcomes" noop %}
{% endblock %}

{% block select_second_level %}
    {% trans "Select Problem" %}
{% endblock %}
