{% extends "base_dashboard.html" %}
{% load dashboard_extras %}

{% block title %}{{ page_title }} - {{ course_key|format_course_key }} {{ block.super }}{% endblock title %}

{# This is intentionally left blank. Course pages do not need a title block. #}
{% block header-text %}{% endblock %}

{% block content %}
  {% block child_content %}
  {% endblock %}
  {% block data_messaging %}
    {% if update_message %}
      <div class="data-update-message">{{ update_message }}</div>
    {% endif %}
    {% if data_information_message %}
      <div class="data-information-message">{{ data_information_message }}</div>
    {% endif %}
  {% endblock %}
{% endblock %}
