{% extends "courses/base_grouped_content.html" %}

{% load i18n %}
{% load rjs %}

{% block view-name %}view-course-engagement-video-content view-dashboard{% endblock view-name %}

{% block javascript %}
    {{ block.super }}
    {# override for custom JS loading #}
    {% block engagement_javascript %}
        <script src="{% static_rjs 'js/engagement-video-content-main.js' %}"></script>
    {% endblock engagement_javascript %}
{% endblock javascript %}

{% block table_title %}
    {% trans "Video Views" %}
{% endblock table_title %}

{% block hover_category %}engagement_video_content{% endblock hover_category %}

{% block chart_info %}
    {% include "courses/views_chart_info.html" %}
{% endblock chart_info %}
