{% extends "base.html" %}

{% load staticfiles %}

{% comment %}
Individual course-centric enrollment view
{% endcomment %}

{% block view-name %}view-course-enrollment view-dashboard{% endblock view-name %}

{% block intro-text %}
  [Intro summary area for enrollment view if needed] Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna
  mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
{% endblock intro-text %}

{% block javascript %}
  {{ block.super }}
  <script data-main="{% static 'js/enrollment-main.js' %}" src="{% static 'vendor/require.js' %}"></script>
{% endblock javascript %}


{% block content %}

  <section class="view-section" data-section="enrollment-basics">
    <h4 class="section-title">
      <span class="section-title-value">Enrollment Basics</span>
      <span class="section-title-note small">How many students are in my course?</span>
    </h4>

    <hr class="has-emphasis"/>

    <div class="row">
      <div class="col-sm-12">
            <span class="section-title-value small">Last updated
                <span data-role="enrollment-last-updated">{{ summary.date|date }}</span>
            </span>
      </div>
    </div>


    <div class="section-content section-data-summary">
      <div class="row">
        <div class="col-xs-12 col-sm-3" data-stat-type="current_enrollment">
          {% include "summary_point.html" with count=summary.current_enrollment label="Current Enrollment" tooltip=tooltips.current_enrollment only %}
        </div>

        <div class="col-xs-12 col-sm-3" data-stat-type="enrollment_change_last_1_days">
          {% include "summary_point.html" with count=summary.enrollment_change_last_1_days label="&#916; Previous Day" tooltip=tooltips.enrollment_change_last_1_days only %}
        </div>

        <div class="col-xs-12 col-sm-3" data-stat-type="enrollment_change_last_7_days">
          {% include "summary_point.html" with count=summary.enrollment_change_last_7_days label="&#916; Previous Week" tooltip=tooltips.enrollment_change_last_7_days only %}
        </div>

        <div class="col-xs-12 col-sm-3" data-stat-type="enrollment_change_last_30_days">
          {% include "summary_point.html" with count=summary.enrollment_change_last_30_days label="&#916; Previous Month" tooltip=tooltips.enrollment_change_last_30_days only %}
        </div>
      </div>
    </div>

    <div class="section-content section-data-graph">
      <div class="section-content section-data-viz">
        <div id="enrollment-trend-view"></div>
      </div>
    </div>
    <hr/>
    <div class="section-content section-data-table" data-role="enrollment-table"></div>

    <div class="section-actions">
      <a href="{% url 'courses:csv_enrollment' course_id=course_id %}" class="btn btn-primary"
         data-role="enrollment-trend-csv" data-track-type="click"
         data-track-event="edx.bi.csv.downloaded" data-track-category="trend">
        <i class="ico fa fa-download"></i> Download CSV
      </a>
    </div>
  </section>

  <section class="view-section" data-section="enrollment-location">
    <h4 class="section-title">
      <span class="section-title-value">Geographic Distribution</span>
      <span class="section-title-note small">Where are my students learning from?</span>
    </h4>

    <hr class="has-emphasis"/>
    <div class="row">
      <div class="col-sm-12">
             <span class="section-title-value small">Last Updated: <span
                 data-view="enrollment-by-country-update-date"></span>
             </span>
      </div>
    </div>

    <div class="section-content section-data-viz">
      <div class="world-map" data-view="world-map" data-title="Enrollment by Country" data-series-name="Enrollment">
        {% comment %}
        The map is loaded via ajax, so display a loading message.  Everything inside of this div will be
        cleared when the map data loads.
        {% endcomment %}
        {% include "loading.html" with message="Loading Map..." %}
      </div>
    </div>

    <hr/>

    <h5 class="section-subtitle">
      <span class="subsection-title-value"><strong>Country Enrollment Breakdown</strong></span>
      <span class="subsection-title-note small">Which countries are represented by my students?</span>
    </h5>

    <div class="section-content section-data-table" data-role="enrollment-location-table">
        {% include "loading.html" with message="Loading Table..." %}
    </div>

    <div class="section-actions">
      <a href="{% url 'courses:csv_enrollment_by_country' course_id=course_id %}" class="btn btn-primary"
         data-role="enrollment-location-csv" data-track-type="click"
         data-track-event="edx.bi.csv.downloaded" data-track-category="geographic">
        <i class="ico fa fa-download"></i> Download CSV
      </a>
    </div>
  </section>

{% endblock content %}
