{% extends "courses/base-course.html" %}
{% load i18n %}
{% load staticfiles %}
{% load dashboard_extras %}

{% comment %}
Individual course-centric enrollment geography view.
{% endcomment %}

{% block view-name %}view-course-enrollment view-dashboard{% endblock view-name %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/enrollment-geography-main.js' %}"></script>
{% endblock javascript %}

{% block content %}

  <section class="view-section" data-section="enrollment-location">
    <div class="row">
      <div class="col-sm-12">
             <span class="section-title-value small">
             {% captureas update_date %}<span data-view="enrollment-by-country-update-date"></span>{% endcaptureas %}
              {% blocktrans %}Last updated: {{ update_date }}{% endblocktrans %}
             </span>
      </div>
    </div>

    <div class="section-content section-data-viz">
      <div class="world-map" data-view="world-map" data-title="{% trans "Enrollment by Country" %}"
           data-series-name="{% trans "Enrollment" %}">
        {% comment %}
        The map is loaded via ajax, so display a loading message.  Everything inside of this div will be
        cleared when the map data loads.
        {% endcomment %}
        {% trans "Loading Map..." as loading_msg %}
        {% include "loading.html" with message=loading_msg %}
      </div>
    </div>

    <hr/>

    <div class="section-heading">
      <h4 class="section-title">{% trans "Country Enrollment Breakdown" %}</h4>

      <div class="section-actions">
        <a href="{% url 'courses:csv_enrollment_by_country' course_id=course_id %}" class="btn btn-default"
           data-role="enrollment-location-csv" data-track-type="click"
           data-track-event="edx.bi.csv.downloaded" data-track-category="geographic">
          <i class="ico fa fa-download"></i> {% trans "Download CSV" %}
        </a>
      </div>
    </div>

    <div class="section-content section-data-table" data-role="enrollment-location-table">
      {% trans "Loading Table..." as loading_msg %}
      {% include "loading.html" with message=loading_msg %}
    </div>

  </section>

{% endblock content %}
