{% extends "courses/base-course.html" %}
{% load i18n %}
{% load dashboard_extras %}
{% load staticfiles %}

{% comment %}
Individual course-centric enrollment activity view.
{% endcomment %}

{% block view-name %}view-course-enrollment view-dashboard{% endblock view-name %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/enrollment-activity-main.js' %}"></script>
{% endblock javascript %}


{% block content %}

  <section class="view-section" data-section="enrollment-basics">

    <div class="section-content section-data-graph">
      <div class="section-content section-data-viz">
        <div id="enrollment-trend-view">
            <div class="line-chart-container"><div class="line-chart ">
                {% comment %}Translators: "Trend" is a graph of daily student enrollment{% endcomment %}
                {% trans "Loading Trend..." as loading_msg %}
                {% include "loading.html" with message=loading_msg %}
            </div></div>
        </div>
      </div>
    </div>


    <h4 class="section-title">
      <span class="section-title-value">{% blocktrans %}Enrollment Statistics{% endblocktrans %}</span>
      <span class="section-title-note small">{% blocktrans %}How many students are in my course?{% endblocktrans %}</span>
    </h4>

    <hr/>

    <div class="row">
      <div class="col-sm-12">
            <span class="section-title-value small">
              {% captureas update_date %}<span data-role="enrollment-last-updated">{{ summary.date|date }}</span>{% endcaptureas %}
              {% blocktrans %}Last updated: {{ update_date }}{% endblocktrans %}
            </span>
      </div>
    </div>

    <div class="section-content section-data-summary">
      <div class="row">
        <div class="col-xs-12 col-sm-3" data-stat-type="current_enrollment">
          {% trans "Current Enrollment" as label %}
          {% include "summary_point.html" with count=summary.current_enrollment label=label tooltip=tooltips.current_enrollment only %}
        </div>

        <div class="col-xs-12 col-sm-3" data-stat-type="enrollment_change_last_1_days">
          {% comment %}Translators: This is a sub-heading used to specify the change in student enrollment compared to the previous day.{% endcomment %}
          {% captureas label %}&#916; {% trans "Previous Day" %}{% endcaptureas %}
          {% include "summary_point.html" with count=summary.enrollment_change_last_1_days label=label tooltip=tooltips.enrollment_change_last_1_days only %}
        </div>

        <div class="col-xs-12 col-sm-3" data-stat-type="enrollment_change_last_7_days">
          {% comment %}Translators: This is a sub-heading used to specify the change in student enrollment compared to the previous week.{% endcomment %}
          {% captureas label %}&#916; {% trans "Previous Week" %}{% endcaptureas %}
          {% include "summary_point.html" with count=summary.enrollment_change_last_7_days label=label tooltip=tooltips.enrollment_change_last_7_days only %}
        </div>

        <div class="col-xs-12 col-sm-3" data-stat-type="enrollment_change_last_30_days">
          {% comment %}Translators: This is a sub-heading used to specify the change in student enrollment compared to the previous month.{% endcomment %}
          {% captureas label %}&#916; {% trans "Previous Month" %}{% endcaptureas %}
          {% include "summary_point.html" with count=summary.enrollment_change_last_30_days label=label tooltip=tooltips.enrollment_change_last_30_days only %}
        </div>
      </div>
    </div>

    <h4 class="section-title">
      <span class="section-title-value">{% blocktrans %}Enrollment Breakdown{% endblocktrans %}</span>
      <span class="section-title-note small">{% blocktrans %}How many students are in my course?{% endblocktrans %}</span>
    </h4>

    <div class="section-content section-data-table" data-role="enrollment-table">
        {% trans "Loading Table..." as loading_msg %}
        {% include "loading.html" with message=loading_msg %}
    </div>

    <div class="section-actions">
      <a href="{% url 'courses:csv_enrollment' course_id=course_id %}" class="btn btn-primary"
         data-role="enrollment-trend-csv" data-track-type="click"
         data-track-event="edx.bi.csv.downloaded" data-track-category="trend">
        <i class="ico fa fa-download"></i> {% blocktrans %}Download CSV{% endblocktrans %}
      </a>
    </div>
  </section>

{% endblock content %}
