{% extends "base_dashboard.html" %}
{% load i18n %}
{% load staticfiles %}
{% load dashboard_extras %}
{% load rjs %}

{% block view-name %}view-course-list{% endblock view-name %}

{% block title %}{% trans "Courses" %} {{ block.super }}{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/bower_components/backgrid-paginator/backgrid-paginator.min.css" type="text/css">
    <link rel="stylesheet" href="/static/bower_components/nprogress/nprogress.css" type="text/css">
{% endblock stylesheets %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static_rjs 'apps/course-list/app/course-list-main.js' %}"></script>
{% endblock javascript %}

{% block content %}
  {% block child_content %}
      <section class="view-section">
          <div class="course-list-app-container grid-container">
              {% include "loading.html" %}
          </div>
      </section>
  {% endblock %}
  {% block data_messaging %}
    {% if update_message %}
      <div class="data-update-message">{{ update_message }}</div>
    {% endif %}
    {% if data_information_message %}
      <div class="data-information-message">{{ data_information_message }}</div>
    {% endif %}
  {% endblock %}
{% endblock %}
