{% extends "courses/base_performance_learning_outcomes.html" %}
{% load i18n %}
{% load rjs %}

{% block content_nav %}
    {% trans "Measured by learning outcome, how are learners performing?" as heading_note %}
    {% include "courses/_tags_content_nav.html" with active="second_level" first_levels=js_data.first_level_content_nav selected_first_level=js_data.first_level_selected second_levels=js_data.second_level_content_nav heading_note=heading_note %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static_rjs 'js/performance-learning-outcomes-section-main.js' %}"></script>
{% endblock javascript %}

{% block chart_tip_text %}
    {% trans "Each bar shows the correct and incorrect number of submissions for each problem for the current outcome." %}
{% endblock %}

{% block table_title %}
    {% trans "Problem Submissions" %}
{% endblock %}
