[run]
data_file = .coverage
omit = analytics_dashboard/settings*
       *wsgi.py
       *migrations*
       *admin.py
source = common, analytics_dashboard
branch = True

[report]

[html]
directory = ${COVERAGE_DIR}/html/

[xml]
output = ${COVERAGE_DIR}/coverage.xml
