language:
  - python
  - node_js
python: "2.7"
node_js: "5.2.0"
sudo: false
env:
  # Make sure to update this string on every Insights or Data API release
  - DATA_API_VERSION="open-release/eucalyptus.2"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
addons:
    firefox: "46.0"
    apt:
        packages:
            - language-pack-en
install:
    - make develop
    - make migrate
    - ./scripts/install_analytics_data_api.sh $DATA_API_VERSION
    - pip install coveralls
script:
    - make static -e DJANGO_SETTINGS_MODULE="analytics_dashboard.settings.test"
    - make validate
    - make generate_fake_translations
    - make accept
    - make a11y
after_success:
    - coveralls
    - bash ./scripts/build-stats-to-datadog.sh
deploy:
    - provider: s3
      access_key_id: $S3_ACCESS_KEY_ID
      secret_access_key: $S3_SECRET_ACCESS_KEY
      bucket: $S3_BUCKET
      skip_cleanup: true
      local_dir: $TRAVIS_BUILD_DIR/build-metrics
      upload_dir: edx-analytics-dashboard/master
      acl: public_read
      on:
        branch: master
