language:
  - python
python:
  - "2.7"
sudo: required
services:
  - docker

env:
  DATA_API_VERSION: "latest"

before_install:
    # Fix intermittent "resource temporarily unavailable" and "write" errors failing the Travis builds.
    # See: https://github.com/travis-ci/travis-ci/issues/8920
    - python -c "import fcntl; fcntl.fcntl(1, fcntl.F_SETFL, 0)"

    # Start up the relevant services
    - docker-compose -f .travis/docker-compose-travis.yml up -d
    - docker exec analytics_api pip install --upgrade pip==9.0.3
    - docker exec analytics_api make -C /edx/app/analytics_api/analytics_api test.requirements
    - docker exec analytics_api make -C /edx/app/analytics_api/analytics_api migrate-all
    - docker exec analytics_api make -C /edx/app/analytics_api/analytics_api travis
    - docker exec insights_testing rm /edx/app/insights/edx_analytics_dashboard/package-lock.json

script:
    - docker exec -t -e TRAVIS=1 insights_testing bash -c "
      cd /edx/app/insights/edx_analytics_dashboard/ &&
      PATH=\$PATH:/edx/app/insights/nodeenvs/insights/bin:/snap/bin &&
      make $TARGETS
      "

matrix:
  include:
    - python: 2.7
      env:
        TESTNAME=quality-and-js
        TARGETS="requirements.js static_no_compress validate_translations quality validate-js generate_fake_translations"
    - python: 2.7
      env:
        TESTNAME=a11y
        TARGETS="a11y.requirements migrate accept a11y"
    - python: 2.7
      env:
        TESTNAME=test-python
        TARGETS="test_python"
      after_success:
        - pip install -U codecov
        - docker exec insights_testing /edx/app/insights/edx_analytics_dashboard/.travis/run_coverage.sh
        - codecov

after_failure:
    # Print the list of running containers to rule out a killed container as a cause of failure
    - docker ps

deploy:
    - provider: s3
      access_key_id: $S3_ACCESS_KEY_ID
      secret_access_key: $S3_SECRET_ACCESS_KEY
      bucket: $S3_BUCKET
      skip_cleanup: true
      local_dir: $TRAVIS_BUILD_DIR/build-metrics
      upload_dir: edx-analytics-dashboard/master
      acl: public_read
      on:
        branch: master
