language: python
python: "2.7"
before_install:
  - export PATH=./node_modules/.bin:$PATH
  - sudo apt-get update -qq
  - sudo apt-get install -y npm
  - sudo apt-get --reinstall install -qq language-pack-en
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
install:
    - make test.acceptance
    - pip install coveralls
script: 
    - make validate
    - bash ./runAcceptance.sh
after_success:
    - coveralls
