[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group edX Analytics Team
	pushTag = group edX Analytics Team
[access "refs/heads/*"]
	read = group Stanford
	create = group Stanford
	push = +force group edX Analytics Team
	push = group edX Analytics Team
[label "Verified"]
        function = NoOp
