// Because the PL CSS is pre-compiled, the path to the actual location of the fonts
// isn't set.  Override the paths here.
@include font-face(
    'Open Sans',
    '~edx-pattern-library/pattern-library/fonts/OpenSans/OpenSans-Light-webfont',
    300,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '~edx-pattern-library/pattern-library/fonts/OpenSans/OpenSans-LightItalic-webfont',
    300,
    italic,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '~edx-pattern-library/pattern-library/fonts/OpenSans/OpenSans-Regular-webfont',
    400,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '~edx-pattern-library/pattern-library/fonts/OpenSans/OpenSans-Italic-webfont',
    400,
    italic,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '~edx-pattern-library/pattern-library/fonts/OpenSans/OpenSans-Semibold-webfont',
    600,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '~edx-pattern-library/pattern-library/fonts/OpenSans/OpenSans-SemiboldItalic-webfont',
    600,
    italic,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '~edx-pattern-library/pattern-library/fonts/OpenSans/OpenSans-Bold-webfont',
    700,
    $file-formats: woff woff2 ttf
);
@include font-face(
    'Open Sans',
    '~edx-pattern-library/pattern-library/fonts/OpenSans/OpenSans-BoldItalic-webfont',
    700,
    italic,
    $file-formats: woff woff2 ttf
);
