{% extends "base-error.html" %}

{% load i18n %}

{% block title %}{% trans "Access Denied" %} {{ block.super }}{% endblock title %}

{% block error-code %}403{% endblock %}
{% block error-title %}{% trans "Access Denied" %}{% endblock %}
{% block error-copy %}
  {% trans "You do not have permission to view this page. If you believe you should have access to this page, try logging out and logging in again to refresh your permissions." %}
  {{ block.super }}
{% endblock %}

{% block buttons %}
  <a href="{% url 'logout_then_login' %}" class="btn btn-lg btn-primary">
    <span class="ico fa fa-sign-in" aria-hidden="true"></span>
    {% trans "Logout then Login" %}
  </a>
  {{ block.super }}
{% endblock buttons %}

