{% extends "base-error.html" %}

{% load i18n %}

{% block title %}{% trans "Access Denied" %} {{ block.super }}{% endblock title %}

{% block error-code %}403{% endblock %}
{% block error-title %}{% trans "Access Denied" %}{% endblock %}
{% block error-copy %}
  {% url 'logout' as logout_url %}
  {% url 'login' as login_url %}
  {% blocktrans %}
    You do not have permission to view this page. If you believe you should have access
    to this page, try <a href="{{logout_url}}">logging out</a> and <a href="{{login_url}}">logging in</a>
    again to refresh your permissions.
  {% endblocktrans %}
  {{ block.super }}
{% endblock %}
