{% extends "base.html" %}

{% load staticfiles %}

{% comment %}
System 500 Error View
{% endcomment %}

{% block view-name %}view-404 view-system{% endblock view-name %}
{% block title %}Page Not Found | edX Analytics{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <img class="masthead-brand-logo" src="{% static 'images/logo-edx.svg' %}" alt="edX" />
                    <span class="masthead-brand-app">Analytics</span>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">
                    <span class="error-code">500</span>
                    <span class="error-title">Something Went Wrong on Our End</span>
                </h1>

                <p class="lead error-copy">Our servers weren't able to complete your request. Please try again by refreshing this page or retracing your steps. If you consistently run into a problem, please let us know.</p>

                <p class="lead">
                    <a href="#" class="btn btn-lg btn-primary">
                        <i class="ico fa fa-life-ring"></i>
                        Contact edX Support
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
