{% load i18n %}

<div class="announcement-container"
     data-dismiss-url="{{ dismiss_url }}"
     data-view="announcement">
    <div class="grid-container grid-manual">
        <div class="row">
            <div class="col col-1 md-col-1">
                <div class="icon"><span class="fa fa-bullhorn" aria-hidden="true"></span></div>
            </div>

            <div class="col col-11 sm-col-11 md-col-10">
                {% if message %}
                    {{ message|safe }}
                {% else %}
                    <div class="message">
                        <h1>{{ title }}</h1>
                        <p>{{ body|safe }}</p>
                    </div>
                {% endif %}
            </div>

            {% if dismiss_url %}
                <div class="col col-1 md-col-1">
                    {% csrf_token %}
                    <a class="dismiss">
                        <span class="fa fa-times" aria-hidden="true"></span>
                        <span class="sr-only">{% trans "Close" %}</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
