{% extends "base.html" %}

{% load staticfiles %}

{% block view-name %}view-auth-failed view-system{% endblock view-name %}
{% block title %}Authentication Failed | edX Analytics{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <img class="masthead-brand-logo" src="{% static 'images/logo-edx.svg' %}" alt="edX" />
                    <span class="masthead-brand-app">Analytics</span>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">
                    <span class="error-title">Authentication Failed</span>
                </h1>

                <p class="lead error-copy">There was a problem accessing your account. Please go back and try again. If you continue to experience issues, please let us know.</p>

                <p class="lead">
                    <a href="#" class="btn btn-lg btn-primary">
                        <i class="ico fa fa-life-ring"></i>
                        Contact edX Support
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
