{% extends "base-error.html" %}

{% load i18n %}

{% block title %}{% trans "Authentication Failed" %} {{ block.super }}{% endblock title %}

{% block error-title %}{% trans "Authentication Failed" %}{% endblock %}
{% block error-copy %}
  {% trans "There was a problem accessing your account. Please try again." %}
  {{ block.super }}
{% endblock %}

{% block buttons %}
  <a href="{% url 'login' %}" class="btn btn-lg btn-primary">
    <i class="ico fa fa-sign-in"></i> {% trans "Try Again" %}
  </a>
  {{ block.super }}
{% endblock %}
