{% load i18n %}
{% load staticfiles %}
{% load compress %}
{% load dashboard_extras %}
{% load rjs %}

<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js lt-ie10" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}| {% settings_value 'FULL_APPLICATION_NAME' %}{% endblock title %}</title>

    {% comment %}
    The stylesheets can be either overriden or augmented here.  Make sure to use the block.super if you're
    adding additional stylesheets in your page when extending the base.
    {% endcomment %}

    {% block stylesheets %}
    {% compress css %}
      <link rel="stylesheet" href="{% static 'sass/style-application.scss' %}" type="text/x-scss">
      {% captureas theme_scss %}
        {% settings_value 'THEME_SCSS' %}
      {% endcaptureas %}
      <link rel="stylesheet" href="{% static theme_scss %}" type="text/x-scss">
    {% endcompress %}
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="{% block view-name %}{% endblock view-name %}" >
<div id="wrap">
    {% block header %}
      {% include "header.html" %}
    {% endblock header %}

    {% block announcements %}
      {% include "announcements.html" %}
    {% endblock %}

    {% block lens_navigation %}
      {% include "lens-navigation.html" %}
    {% endblock lens_navigation %}

    <div class="container">
        <div class="row">
          {% block content-outer %}
            {#  Translators: Application here refers to the web site/application being used (e.g. the dashboard). #}
            <main class="col-xs-12 main" id="content" aria-label="{% trans "Application" %}">
                <div class="view-head">
                  {% block header-text %}
                    {% if page_title %}
                      <div class="row page-title-outer">
                        <div class="col-md-6 col-xs-12">
                          <h1>{{ page_title }}</h1>
                        </div>
                        <div class="col-md-6 col-xs-12">
                          <div class="page-subtitle">{{ page_subtitle|default_if_none:'' }}</div>
                        </div>
                      </div>
                    {% endif %}
                  {% endblock %}
                </div>

                <div class="view-intro">
                    <p class="lead text-muted intro-text">
                        {% block intro-text %}{% endblock intro-text %}
                    </p>
                </div>

                {% block content %}
                {% endblock content %}
            </main>
          {% endblock %}
        </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    {% comment %}
    Make sure to add your JS files here.  You'll probably want to use block.super to add to the comment includes rather
    than override them.
    {% endcomment %}

    {# Translation support for JavaScript strings. #}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
    <script type="text/javascript">
      window.language = "{{ LANGUAGE_CODE }}";
    </script>

    {# Initial page data passed from view to JS initializer #}
    {% if page_data %}
    <script type="text/javascript">
      var initModelData = {{ page_data|safe }};
    </script>
    {% endif %}

    {% compress js %}
      <script src="{% static 'bower_components/requirejs/require.js' %}"></script>
      <script src="{% static_rjs 'js/config.js' %}"></script>

      {# Note: django-compressor does not recognize the data-main attribute. Load the main script separately. #}
      <script src="{% static_rjs 'js/common.js' %}"></script>
    {% endcompress %}


    {% compress js %}
      {# Note: This block is purposely separated from the one above so that browsers cache the common JS instead of downloading a single, large file for each page. #}
      {% block javascript %}
      {% endblock javascript %}
    {% endcompress %}

  <div id="push"></div>
</div>
{% block footer %}
  <div id="footer">
  {% include "footer.html" %}
  </div>
{% endblock footer %}
</body>
</html>
