{% comment %}
Base template pages.
{% endcomment %}

{% load dashboard_extras %}
{% load get_files from webpack_loader %}

<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js lt-ie10" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}| {% settings_value 'FULL_APPLICATION_NAME' %}{% endblock title %}</title>

    {% comment %}
    The stylesheets can be either overriden or augmented here.  Make sure to use the block.super if you're
    adding additional stylesheets in your page when extending the base.
    {% endcomment %}

	{% get_files 'application-main' 'css' as common_css %}
    {% for css_file in common_css %}
        <link rel="stylesheet" href="{{ css_file.publicPath }}" type="text/css">
    {% endfor %}

    {% block stylesheets %}
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

{% block body %}{% endblock %}
</html>
