{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js lt-ie10" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{{ page_title }} - {{ course_number }} {{ course_title }}| edX Analytics{% endblock title %}</title>

    <meta name="description" content="">
    <meta name="author" content="">

    {% comment %}
    The stylesheets can be either overriden or augmented here.  Make sure to use the block.super if you're
    adding additional stylesheets in your page when extending the base.
    {% endcomment %}

    {% block stylesheets %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'sass/style-application.scss' %}" type="text/x-scss">
    {% endcompress %}
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="{% block view-name %}{% endblock view-name %}" >
    {% block header %}
    {% include "header.html" %}
    {% endblock header %}

    {% block lens_navigation %}
    {% include "lens-navigation.html" %}
    {% endblock lens_navigation %}

    <div class="row">
        <main class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="content" data-analytics-init='{{ page_data | safe }}'>
            <div class="view-head">
                <h1>{{ page_title }}</h1>
            </div>

            <div class="view-intro">
                <p class="lead text-muted">
                    {% block intro-text %}{% endblock intro-text %}
                </p>
            </div>

            {% block content %}
            {% endblock content %}
        </main>
    </div>

    {% block footer %}
    {% include "footer.html" %}
    {% endblock footer %}

    <!-- Placed at the end of the document so the pages load faster -->
    {% comment %}
    Make sure to add your JS files here.  You'll probably want to use block.super to add to the comment includes rather
    than override them.
    {% endcomment %}
    {% compress js %}
    {% block javascript %}
    {% endblock javascript %}
    {% endcompress %}
</body>
</html>