{% load i18n %}
{% load dashboard_extras %}

<div class="footer">
  <hr/>
  <div class="row">
    <div class="col-xs-6 col-md-6">
      {% captureas email_link %}
        <a class="feedback-email" href="mailto:{% settings_value 'FEEDBACK_EMAIL' %}?Subject=Feedback">
        {% settings_value 'FEEDBACK_EMAIL' %}</a>{% endcaptureas %}
      {% blocktrans %}We want this dashboard to work for you! Please send suggestions, comments, and critiques to {{ email_link }}.{% endblocktrans %}
    </div>
    <div class="col-xs-6 col-md-6 text-right">
      <a href="{% settings_value 'TERMS_OF_SERVICE_URL' %}" target="_blank" data-role="tos">
        {% blocktrans %}Terms of Service{% endblocktrans %}</a>
      <br>
      <a href="{% settings_value 'PRIVACY_POLICY_URL' %}" target="_blank" data-role="privacy-policy">
        {% blocktrans %}Privacy Policy{% endblocktrans %}
      </a>
    </div>
  </div>
</div>
