{% load i18n %}

{% comment %}
Partial: App-wide header element
{% endcomment %}

<nav class="navbar navbar-default" role="navigation" id="nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">{% trans 'Toggle navigation' %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

            {% include 'brand.html' with class_prefix='navbar' %}
        </div>

    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav nav-pills navbar-nav">
        <li>
          <a href="#" class="active-course navbar-link">
            <span class="active-course-number">{{ course_id }}</span>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="navbar-link " href="#">{% trans "Help" %}</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle active-user navbar-link" data-toggle="dropdown">
            <i class="ico-user fa fa-graduation-cap" aria-hidden="true"></i>
            <span class="active-user-name">{{ request.user.username }}</span>
            <i class="ico ico-indicator fa fa-caret-down"></i>
          </a>

          <ul class="dropdown-menu active-user-nav">
            <li>
              <a class="active-user-nav-logout" href="{% url 'logout' %}">{% trans "Logout" %}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- / navbar-collapse -->
  </div>
  <!-- / container -->
</nav>
<!-- / navbar -->
