{% comment %}
Partial: App-wide header element
{% endcomment %}

<div class="row">
  <aside id="sidebar" class="col-sm-3 col-md-2 sidebar">
    <div class="sidebar-group">
      <ul class="nav nav-stacked">

        {% for item in navbar_items %}
          <li class="{% if page_title == item.title %}active{% endif %}">
            <a href="{{ item.href }}">
              <span class="link-label"><i class="ico fa {{ item.icon }}"></i> {{ item.label }}</span>
              <i class="link-ico fa fa-angle-right hidden-xs"></i>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </aside>
</div>
