{% load i18n %}
{% load dashboard_extras %}

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12 error-section-container {{background_class}}">
            <div class="col-xs-1">
                <i data-placement="top" class="fa fa-exclamation-triangle fa-3 error"></i>
            </div>
            <div class="col-xs-11">
                <div class="short-message">
                    {% comment %}Keeping the sentences whole aids in accurate translations.{% endcomment %}
                    {% if content_type == 'chart' %}
                        {% blocktrans %}We are unable to load this chart.{% endblocktrans %}
                    {% elif content_type == 'table' %}
                        {% blocktrans %}We are unable to load this table.{% endblocktrans %}
                    {% elif content_type == 'metrics' %}
                        {% blocktrans %}We are unable to load these metrics.{% endblocktrans %}
                    {% endif%}
                </div>

                <div>
                    {{load_error_message|safe}}
                </div>
            </div>
        </div>
    </div>
</div>
