// app styling: base
// ====================
// NOTE: used for any basic styling or overriding that isn't covered by Bootstrap + theming

// + basics
// + extends
// + nav + header
// + ui: sections
// + ui: data-summary
// + ui: data-table
// + view: dashboard
// + view: system

// basics
// --------------------
html {
  height: 100%;
}

a {
  @include transition(color ease-in-out .25s);
}

hr.has-emphasis {
  margin-top: $padding-base-vertical;
  border-color: $gray-dark;
}

// extends
// --------------------
%hd-titlecased {                                                                                    // titlecased heading
  font-family: $f-sans-serif-alt;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

%ui-box {                                                                                           // visual emphasis/grouping box
  border-radius: 3px;
  box-shadow: 0 1px 1px $shadow-l1;
  padding: $padding-large-vertical $padding-large-horizontal;
  border: 1px solid $gray-l2;
  background: $white-t;
}



// nav + header
// --------------------
.navbar-brand {
  padding: 25px 15px;                                                                               // needed for edX logo to render properly

  .navbar-brand-logo {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    margin-right: 10px;
  }

  .navbar-brand-app {
    @include transition(color ease-in-out .25s);
    @extend %hd-titlecased;
    display: inline-block;
    vertical-align: middle;
    color: $edx-blue;

    // STATE: hover
    &:hover, &:active {
      color: $link-color;
    }
  }
}

.navbar-link {
  font-weight: 600;
  font-size: 16px;
  font-family: $f-sans-serif;

  .fa-caret-down {
    margin-left: 5px;
  }

  .ico-user {
    margin-right: 5px;
  }
}

// OVERRIDE: dropdown positioning
.navbar .dropdown .dropdown-menu {
  top: 80%;
  width: 100%;

  a {
    padding: 10px 15px;
  }
}

// ui: views
// --------------------
.view-head {
  margin-bottom: ($padding-large-vertical*2);
}

// ui: sections
// --------------------
.view-section {
  margin-bottom: ($padding-large-vertical*6);

  // CASE: last child
  &:last-child {
    margin-bottom: 0;
  }

  .section-title, .section-subtitle {
    margin-bottom: $padding-base-vertical;
  }

  .section-title-value, .subsection-title-value {
    display: block;
    margin-bottom: $padding-base-vertical;
  }

  .section-title-note, .subsection-title-note {
    display: block;
  }

  // CASE: larger than small screen breakpoint
  @media (min-width: $screen-sm-min) {

    .section-title, .section-subtitle {
      @include clearfix();
    }

    .section-title-value, .subsection-title-value {
      float: left;
    }

    .section-title-note, .subsection-title-note {
      float: right;
    }
  }

  .section-nav {
    margin-bottom: ($padding-large-vertical*2);
  }

  .section-content {

  }

  .section-actions {
    margin-top: $padding-base-vertical;
  }
}

// ui: filter nav
// --------------------
.nav-filters {

  .filter {

    .ico {
      margin-left: $padding-small-horizontal;
    }
  }
}


// ui: data-summary
// --------------------
.section-data-summary {

  .summary-point {
    @extend %ui-box;
    @include scale(0.95);
    @include transition(all ease-in-out .50s);
    display: table;
    width: 100%;
    min-height: 150px;
    margin-bottom: $padding-large-vertical;

    .summary-point-wrapper {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }

    .summary-point-note {
      display: inline-block;
      vertical-align: bottom;
      width: 100%;
    }

    // STATE: hover + active
    &:hover, &:active {
      box-shadow: 0 1px 1px $edx-blue-t2;
      @include scale(1.0);

      .summary-point-number {
        color: $brand-primary;
      }
    }
  }

  .summary-point-number {
    @include transition(color ease-in-out .50s);
    margin-top: 0;
  }
}

// ui: data-viz
// --------------------
.section-data-viz {

  .viz-filter {
    margin-bottom: $padding-large-vertical;

    .viz-filter-label {
      display: inline-block;
      vertical-align: middle;
      margin-right: $padding-small-horizontal;
    }

    .filter {
      display: inline-block;
      vertical-align: middle;

      .ico {
        margin-left: $padding-small-horizontal;
      }
    }
  }
}


// ui: data-table
// --------------------
.section-data-table {
  @extend %ui-box;

  tbody tr {
    @include transition(background ease-in-out .25s);

    // STATE: hover
    &:hover, &:active {
      background: $edx-blue-t0;
    }
  }
}


// view: dashboard
// --------------------
.view-dashboard {
  padding-top: $navbar-height;                                                                      // move down content because we have a fixed navbar

  .main {
    padding: ($padding-large-vertical*2) ($padding-large-horizontal*3);

  }

  // custom styling for p-type sidebar
  .sidebar {
    padding: 0;
    background: $gray-darker;
  }

  .sidebar-group {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .title {
      font-family: $f-sans-serif-alt;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      color: $gray-light;
    }

    .nav-stacked {

      li {
        margin-top: 0;
      }

      a {
        @include clearfix();
        @include transition(background ease-in-out .25s, color ease-in-out .25s);
        border-bottom: 1px solid lighten($gray-darker, 5%);
        padding: 15px;
        font-size: $font-size-base;
        letter-spacing: 0.05rem;
        color: $gray-light;

        .link-label {
          float: left;

          .ico {
            margin-right: $padding-small-horizontal;
          }
        }

        .link-ico {
          float: right;
        }

        // STATE: hover + active
        &:hover, &:active {
          background: darken($gray-darker, 5%);
          color: $link-color;
        }
      }

      // STATE: active nav items
      .active {

        a {
          background: darken($gray-darker, 5%);
          color: $link-color;
        }
      }
    }
  }

  // CASE: larger than small screen breakpoint
  @media (min-width: $screen-sm-min) {

    .sidebar {
      position: fixed;
      top: ($navbar-height+1);
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      overflow-x: hidden;
      overflow-y: auto;                                                                           // scrollable contents if viewport is shorter than content.
      border-right: 2px solid $black-t0;
    }
  }
}

// view: system
// (heavily relies upon Bootstrap cover - http://getbootstrap.com/examples/cover/)
// --------------------
.view-system {
  height: 100%;
  background-color: $gray-darker;
  color: $white;
  text-align: center;

  // overriding element contained in base template
  .container-fluid {
    height: 100%;
  }

  // Extra markup and styles for table-esque vertical and horizontal centering
  .site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
  }
  .site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
  }
  .cover-container {
    margin-right: auto;
    margin-left: auto;
  }

  // padding
  .inner {
    padding: $padding-large-vertical $padding-large-horizontal;
  }

  // header
  .masthead {
    margin-top: ($padding-large-vertical*4);
  }

  .masthead-brand {
    margin-top: $padding-large-vertical;
    margin-bottom: $padding-large-vertical;
  }

  .masthead-brand-logo {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    margin-right: 10px;
  }

  .masthead-brand-app {
    @extend %hd-titlecased;
    display: inline-block;
    vertical-align: middle;
    font-size: $font-size-large;
    color: $edx-blue;
  }


  // cover
  .cover {
    padding: 0 $padding-large-horizontal;
  }
  .cover .btn-lg {
    padding: $padding-base-vertical $padding-large-horizontal;
    font-weight: 600;
  }

  .error-code {
    display: block;
    margin-bottom: $padding-large-vertical;
  }

  .error-title {
    display: block;
  }

  .error-copy {
    color: $gray;
  }


  // affix and center
  @media (min-width: 768px) {
    .masthead {
      position: fixed;
      top: 0;
    }
    .mastfoot {
      position: fixed;
      bottom: 0;
    }

    .site-wrapper-inner {
      vertical-align: middle;
    }

    .masthead,
    .mastfoot,
    .cover-container {
      width: 100%; // Must be percentage or pixels for horizontal alignment
    }
  }

  @media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
      width: 700px;
    }
  }
}
