// utilities: developer
// ====================
// NOTE: use this area for any developer-needed or created styling that needs to be refactored into patterns or visually polished. Please list any template/view that your styles reference when definining them (example below):

// Views: New Prototype View
// --------------------
// .crazy-new-feature {
//   background: transparent;
// }

.line-chart-container {
  background-color: white;
  border: $edx-gray 1px solid;


  .line-chart {
    height: 305px;  // Update the height of the graph in trends-view.js to be this height minus 5px.
    padding-top: $padding-large-vertical;
  }

  .chart-tooltip {
    @extend .pull-right;
    padding-right: $padding-small-horizontal;
    padding-top: $padding-large-vertical;
  }

  .nvd3 {
    .nv-axis {

      &.nv-y {
        fill: $edx-gray;

        .nv-axislabel {
          fill: $edx-blue;
        }
      }

      &.nv-x {
        text {
          fill: $edx-gray-l1;
          font-size: $font-size-small;
        }

        .x-axis-background {
          fill: $gray-d2;
        }
      }
    }
  }
}

.loading-container {
  padding-top: $padding-large-vertical * 2;
}

// Ensure that the map fits for different screens sizes
// --------------------
.world-map {
  position: relative;
  margin: 0 auto;

  width: 100%;
  height: 450px;

  background-color: white;
  border: $edx-gray 1px solid;
}

@media (max-width: $screen-md) {
  .world-map {
    height: 250px;
  }
}

@media (max-width: $screen-sm) {
  .world-map {
    height: 300px;
  }
}

// --------------------

.dataTables_length {
  label {
    // this gives the length selection component of the data table some breathing room
    padding-top: $padding-large-vertical;
  }
}

// lens navigation consists of a drop down and the lens sections in a navigation
$lens-background-color: $gray-d2;
$lens-nav-text-color: $gray-l1;
$lens-nav-height: 55px;
$lens-box-model: border-box;

.lens-nav {
  background-color: $lens-background-color;
  min-height: $lens-nav-height;
  border: 0px;
  margin-bottom: 0px;
  -moz-box-sizing: $lens-box-model;
  -webkit-box-sizing: $lens-box-model;
  box-sizing: $lens-box-model;

  // aligns the navbar with the logo
  ul.navbar-nav {
    margin-left: 15px;
  }

  .navbar-nav {

    .dropdown {
      padding-right: 10px;

      a {
        text-transform: uppercase;
        color: $navbar-default-link-active-color;
      }

      // this prevents the drop down from overlapping with the menu
      .dropdown-menu {
        top: 100%;

        li > a {
          // the default size is a big large
          min-height: 20px;
        }
      }
    }

    // style the nav secondary items
    li > a {
      padding-top: 18px;
      padding-bottom: 0px;
      color: $lens-nav-text-color;
      min-height: $lens-nav-height;
    }

    .nav-section.active {
      color: $navbar-default-link-active-color;
      border-bottom: 4px solid $navbar-default-link-active-color;
    }

    .nav-section {

      a {
        // override the default behaviour (change background, which looks weird in the navbar)
        background: transparent;

        &:active, &:hover {
          background: transparent;
        }

      }

    }

  }
}

.course-list {
  margin-top: 10px;
  margin-bottom: 15px;
  background: white;
  border: 1px solid $edx-gray;
  border-width: 0 0 1px 1px;

  .course {
    padding: 15px;
    border: 1px solid $edx-gray;
    border-width: 1px 1px 0 0;
  }
}

body.view-course-list {
  #content {
    margin-top: 25px;

    .view-head {
      color: $edx-gray-d2;
      margin-bottom: 0;
    }

    .intro-text {
      color: $edx-gray-d1;
    }

    .view-intro {
      .lead {
        font-size: $font-size-base;
      }
    }

    .info-text {
      color: $edx-gray;
      font-size: $font-size-small;
    }

    .help-msg {
      font-size: $font-size-small;
      margin-bottom: 50px;
    }
  }
}

// DataTables
// Icon spacing
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  right: 3px;
}

//Sort Icon Color
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  color: $edx-blue;
}

.page-title-outer {
  .page-subtitle {
    @extend .text-muted;
    font-size: ($font-size-h1 * 0.5);

    @media (min-width: $screen-md-min) {
      text-align: right;
      margin-top: ($line-height-computed * 1.5);
    }
  }
}
