// utilities: developer
// ====================
// NOTE: use this area for any developer-needed or created styling that needs to be refactored into patterns or visually polished. Please list any template/view that your styles reference when definining them (example below):

// Views: New Prototype View
// --------------------
// .crazy-new-feature {
//   background: transparent;
// }

.line-chart-container {
  background-color: white;
  padding-top: 10px; // Give the title some breathing room.

  .line-chart {
    height: 300px;
  }

  .chart-title {
    text-align: center;
  }
}

.loading-container {
  padding-top: $padding-large-vertical * 2;
}


// Ensure that the map fits for different screens sizes
// --------------------
.world-map {
  position: relative;
  margin: 0 auto;
  // this is the ratio of width:height to keep the map from being cut off
  width: 900px;
  height: 400px;
}

@media (max-width: $screen-md) {
  .world-map {
    width: 450px;
    height: 200px;}
}

@media (max-width: $screen-sm) {
  .world-map {
    width: 100%;
    height: 300px;}
}
// --------------------


.section-title-button {
  float: right;
}

.dataTables_length {
  label {
    // this gives the length selection component of the data table some breathing room
    padding-top: $padding-large-vertical;
  }
}

// lens navigation consists of a drop down and the lens sections in a navigation
$lens-background-color: $gray-d2;
$lens-nav-text-color: $gray-l1;
$lens-nav-height: 55px;
$lens-box-model: border-box;
.lens-nav {
  background-color: $lens-background-color;
  min-height: $lens-nav-height;
  border: 0px;
  margin-bottom: 0px;
  -moz-box-sizing: $lens-box-model;
  -webkit-box-sizing: $lens-box-model;
  box-sizing: $lens-box-model;

  // aligns the navbar with the logo
  ul.navbar-nav {
    margin-left: 15px;
  }

  .navbar-nav {

    .dropdown {
      padding-right: 10px;

      a {
        text-transform: uppercase;
        color: $navbar-default-link-active-color;
      }

      // this prevents the drop down from overlapping with the menu
      .dropdown-menu {
        top: 100%;

        li > a {
          // the default size is a big large
          min-height: 20px;
        }
      }
    }

    // style the nav secondary items
    li > a {
      padding-top: 18px;
      padding-bottom: 0px;
      color: $lens-nav-text-color;
      min-height: $lens-nav-height;
    }

    .nav-section.active {
      color: $navbar-default-link-active-color;
      border-bottom: 4px solid $navbar-default-link-active-color;
    }

    .nav-section {

      a {
        // override the default behaviour (change background, which looks weird in the navbar)
        background: transparent;

        &:active, &:hover {
          background: transparent;
        }

      }

    }

  }
}

.course-list {
  margin-top: 10px;
  margin-bottom: 15px;
  background: white;
  border: 1px solid $edx-gray;
  border-width: 0 0 1px 1px;

  .course {
    padding: 15px;
    border: 1px solid $edx-gray;
    border-width: 1px 1px 0 0;
  }
}

body.view-course-list {
  #content {
    margin-top: 25px;

    .view-head {
      color: $edx-gray-d1;
      margin-bottom: 0;
    }

    .view-intro {
      .lead {
        font-size: $font-size-base;
      }
    }

    .info-text {
      color: $edx-gray;
      font-size: $font-size-small;
    }

    .help-msg {
      font-size: $font-size-small;
    }
  }
}
